<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../static/css/inicioVotacaoStyle.css">
    <title>Feedback</title>
</head>
<body style=" background-image: url('../static/img/home.jpg')">
    <div class="fundohome">
        <!-- X no canto superior esquerdo -->
        <a href="/feedback">
            <div class="x-corner">X</div>
        </a>
        
        <div class="titulo">
            <div class="linha1"></div>
            <h1>NUTRI SESI</h1>
            <div class="linha2"></div>
        </div>
        <div class="centro">
            <img class="enfeite" src="../static/img/enfeite.png">
            <img class="gif" src="../static/img/gif.gif">
        </div>
        <div class="button">
            <a href="/iniciarvotacao" class="button"><h3>AVALIE JÁ</h3></a>
        </div>
    </div>
    
</body>
</html>
